body {
    background: linear-gradient(to right, #26d0ce, #1a2980);
}

div {
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 10px solid transparent;
    border-top: 10px solid red;
}